/* main */
body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: black;
}

.main {
    display: grid;
    grid-template-columns: minmax(150px, 65%) 1fr;
    padding: 0;
    margin: 0;
}

/* code mirror */
.CodeMirror {
    height: 100vh!important;
    font-size: 16px;
}
.CodeMirror-lines {
    height: 100%;
    padding: 10px 0;
}
.CodeMirror pre {
    padding: 0 10px;
}

/* input/output (io) */
#input {
    height: 100vh;
    outline: none;
    resize: none;
    border: none;
}
#result {
    font-family: Arial, monospace;;
    float: left;
    padding: 1em;
    color: white;
    font-size: 16px;
    z-index: 10;
    box-shadow: 16px 0 16px 12px rgba(0, 0, 0, 1);
}
